<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EasyLearn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>actionservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>actionservlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlet</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>actionservlet.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>actionservlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>actionservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>actionservlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtpServlet</display-name>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <servlet-class>actionservlet.VerifyOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <url-pattern>/VerifyOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCoursesServlet</display-name>
    <servlet-name>FetchCoursesServlet</servlet-name>
    <servlet-class>actionservlet.FetchCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCoursesServlet</servlet-name>
    <url-pattern>/FetchCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCoursesServlet</display-name>
    <servlet-name>ShowCoursesServlet</servlet-name>
    <servlet-class>actionservlet.ShowCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCoursesServlet</servlet-name>
    <url-pattern>/ShowCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>actionservlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileServlet</display-name>
    <servlet-name>GetProfileServlet</servlet-name>
    <servlet-class>actionservlet.GetProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileServlet</servlet-name>
    <url-pattern>/GetProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFeedbackServlet</display-name>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <servlet-class>actionservlet.SubmitFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFeedbackServlet</servlet-name>
    <url-pattern>/SubmitFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizServlet</display-name>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>actionservlet.QuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/QuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseServlet</display-name>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>actionservlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/DeleteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutservlet</display-name>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>adminservlet.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>adminservlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOTPServlet</display-name>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <servlet-class>actionservlet.VerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <url-pattern>/VerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificateServlet</display-name>
    <servlet-name>CertificateServlet</servlet-name>
    <servlet-class>actionservlet.CertificateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificateServlet</servlet-name>
    <url-pattern>/CertificateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificateMailServlet</display-name>
    <servlet-name>CertificateMailServlet</servlet-name>
    <servlet-class>actionservlet.CertificateMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificateMailServlet</servlet-name>
    <url-pattern>/CertificateMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finalizeQuiz</display-name>
    <servlet-name>finalizeQuiz</servlet-name>
    <servlet-class>actionservlet.finalizeQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalizeQuiz</servlet-name>
    <url-pattern>/finalizeQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderboardPDFServlet</display-name>
    <servlet-name>LeaderboardPDFServlet</servlet-name>
    <servlet-class>adminservlet.LeaderboardPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardPDFServlet</servlet-name>
    <url-pattern>/pdfleader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QualificationPDFServlet</servlet-name>
    <servlet-class>QualificationPDFServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>QualifyPdfServlet</display-name>
    <servlet-name>QualifyPdfServlet</servlet-name>
    <servlet-class>adminservlet.QualifyPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualifyPdfServlet</servlet-name>
    <url-pattern>/QualifyPdfServlet</url-pattern>
  </servlet-mapping>
  

</web-app>